body {
      background-color: #EFEFEF;
}

a {
      outline: 0;
}

.navbar-nav .nav-item .nav-link {
      position: relative;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 8px;
      margin-right: 8px;
      font-size: 14px;
}

.navbar-nav .nav-item .nav-link:hover {
      color: #ECECEC;
}

.navbar-nav .nav-item .nav-link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ECECEC;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX();
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
}

.navbar-nav .nav-item .nav-link:hover::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
}

#navbar-menu {
      background-color: #2676E3;
      -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.50);
      -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.50);
      box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.50);
      padding-top: 2px;
      padding-bottom: 2px;
}

.card {
      -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
      border-radius: 2px;

}

.card-img-overlay {
      color: rgba(0, 0, 0, 0.00);
      background-color: rgba(0, 0, 0, 0.00);
      -webkit-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      transition: all 300ms linear;
      overflow: auto;
}

.card-img-overlay:hover {
      color: rgba(255, 255, 255, 0.9);
      background-color: rgba(0, 0, 0, 0.75);
      -webkit-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      transition: all 300ms linear;
}

.card-text {
      text-align: justify;
}

.card.zoom {
      overflow: hidden;
}

.card.zoom .card-img-top {
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
}

.card.zoom:hover .card-img-top {
      transform: translateX(-50%);
      -webkit-transform:scale(1.25);
      -moz-transform:scale(1.25);
      -ms-transform:scale(1.25);
      -o-transform:scale(1.25);
       transform:scale(1.25);
}

.card:hover .hover-hide {
      visibility: hidden;
}

body h1 {
      color: #878787;
      font-size: 42px;
      margin-bottom: 24px;
}

.card-body ul {
      list-style-type: none;
}

.card-body ul li a, .card-body ul li a:hover{
      color: #2676E3;
      text-decoration: none;
}

#perfil-img {
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      position: absolute;
      border-radius: 50%;
      height: 60%;
      left: 50%;
      -webkit-transform: translateY(-68%) translateX(-50%);
      transform: translateY(-68%) translateX(-50%);
      max-height: 142px;
}

#about .card .card-body h2 {
      margin-top: 64px;
}

#about {
      padding-top: 128px;
}

.btn {
      font-size: 14px;
      border: 0 none;
      text-transform: uppercase;
      background-color: #2676E3;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
}

.btn:hover {
      background-color: #2676E3;
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.btn:focus, .btn:active:focus, .btn.active:focus {
      outline: 0 none;
}


.card-body h2 {
      color: #676767;
      font-size: 32px;
}

.card-body h3 {
      color: #777777;
      font-size: 16px;
}

.card-body h4 {
      color: #676767;
      font-size: 18px;
}


.card-body p {
      color: #777777;
      text-align: justify;
}

h1 .img-icon {
      width: 32px;
      vertical-align: baseline;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
}

.r-separator {
      border-right: 1px solid #BCBCBC;
      -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BCBCBC), to(rgba(0, 0, 0, 0))) 1 100%;
      -webkit-border-image: -webkit-linear-gradient(#BCBCBC, rgba(0, 0, 0, 0)) 1 100%;
      -moz-border-image: -moz-linear-gradient(#BCBCBC, rgba(0, 0, 0, 0)) 1 100%;
      -o-border-image: -o-linear-gradient(#BCBCBC, rgba(0, 0, 0, 0)) 1 100%;
      border-image: linear-gradient(to bottom, #BCBCBC, rgba(0, 0, 0, 0)) 1 100%;
}

section {
      padding-top:80px;
      margin-top: 0px;
      margin-bottom: 32px;
}

.timeline {
      list-style: none;
      padding: 20px 0 20px;
      position: relative;
}
.timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background: #D9D9D9;
      background: radial-gradient(circle farthest-corner at center center, #D9D9D9 70%, #EFEFEF 100%);
      background: -webkit-radial-gradient(circle farthest-corner at center center, #D9D9D9 70%, #EFEFEF 100%);
      background: -moz-radial-gradient(circle farthest-corner at center center, #D9D9D9 70%, #EFEFEF 100%);
      left: 50%;
      margin-left: -1.5px;
}
.timeline > li {
      margin-bottom: 20px;
      position: relative;
}
.timeline > li:before,
.timeline > li:after {
      content: " ";
      display: table;
}
.timeline > li:after {
      clear: both;
}
.timeline > li:before,
.timeline > li:after {
      content: " ";
      display: table;
}
.timeline > li:after {
      clear: both;
}
.timeline > li > .timeline-panel {
      width: 46%;
      float: left;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      background-color: #FFFFFF;
}
.timeline > li > .timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-left: 15px solid #ccc;
      border-right: 0 solid #ccc;
      border-bottom: 15px solid transparent;
      content: " ";
}
.timeline > li > .timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #fff;
      border-right: 0 solid #fff;
      border-bottom: 14px solid transparent;
      content: " ";
}
.timeline > li > .timeline-badge {
      color: #fff;
      width: 16px;
      height: 16px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 34px;
      left: 50%;
      margin-left: -8px;
      background-color: #2676E3;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
      float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
}

.timeline-title {
      margin-top: 0;
      color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
      margin-bottom: 0;
}
.timeline-body > p + p {
      margin-top: 5px;
}

.timeline-body p {
      text-align: justify;
      color: #777;
}

.timeline-heading h4, .timeline-heading p {
      color: #676767;
}
